################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAppFirstCorrection/.vs/StudentAppFirstCorrection/FileContentIndex/edff7872-2079-4cbf-9713-fb2558664f5a.vsidx
